* {
    text-wrap: balance;
}
.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em
}
body {
    scroll-behavior: smooth;
}
.flex-grow {
    flex-grow: 1;
}
.full-width {
    width: 100%;
}
.graph{
    max-width: 62em;
    min-height: 35em;
}
.flex-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em
}
* {
    font-family: 'Roboto';
}
a {
    all: unset
}

.profileForm {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
}
.doubleColumn {
    grid-column-start: 1;
    grid-column-end: 3;
}